@charset "utf-8";html{background-color:#fff;color:#000}
body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,figure,form,fieldset,legend,input,textarea,button,p,blockquote,th,td,pre,xmp{margin:0;padding:0}
body,input,textarea,button,select,pre,xmp,tt,code,kbd,samp{line-height:1.5;font-family:tahoma,arial,"Hiragino Sans GB",simsun,sans-serif}
/*h1,h2,h3,h4,h5,h6,small,big,input,textarea,button,select{font-size:100%}*/
h1,h2,h3,h4,h5,h6{font-family:tahoma,arial,"Hiragino Sans GB","微软雅黑",simsun,sans-serif}
/*h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal}*/
address,cite,dfn,em,i,optgroup,var{font-style:normal}
table{border-collapse:collapse;border-spacing:0;text-align:left}
caption,th{text-align:inherit}
ul,ol,menu{list-style:none}
fieldset,img{border:0}
img,object,input,textarea,button,select{vertical-align:middle}
article,aside,footer,header,section,nav,figure,figcaption,hgroup,details,menu{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
blockquote:before,blockquote:after,q:before,q:after{content:"\0020"}
textarea{overflow:auto;resize:vertical}
input,textarea,button,select,a{outline:0 none;border: none}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
mark{background-color:transparent}
a,ins,s,u,del{text-decoration:none}
sup,sub{vertical-align:baseline}
html {overflow-x: hidden;height: 100%;font-size: 100px;-webkit-tap-highlight-color: transparent}
body {font-family: Arial, "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif;color: #333;font-size: .14rem;line-height: 1;-webkit-text-size-adjust: none}
hr {height: .01rem;margin: .05rem 0;border: medium none;border-top: .01rem solid #cacaca}
a {color: #25a4bb}
/* ---------------------single CSS----------------------- */
/* height */
.h14{height:.14rem}
.h16{height:.16rem}
.h18{height:.18rem}
.h20{height:.20rem}
.h22{height:.22rem}
.h24{height:.24rem}
.h30{height:.30rem}
.h100{height:1rem}
/* width */
.w30{width:.30rem}
.w40{width:.40rem}
.w50{width:.50rem}
.w60{width:.60rem}
.w70{width:.70rem}
.w80{width:.80rem}
.w90{width:.90rem}
.w100{width:1rem}
/* min-width */
.minw30{min-width:.30rem}
.minw40{min-width:.40rem}
.minw50{min-width:.50rem}
.minw60{min-width:.60rem}
.minw70{min-width:.70rem}
.minw80{min-width:.80rem}
.minw90{min-width:.90rem}
.minw100{min-width:1rem}
/* percent width value */
.pw10{width:10%}
.pw15{width:15%}
.pw20{width:20%}
.pw25{width:25%}
.pw30{width:30%}
.pw33{width:33.3%}
.pw40{width:40%}
.pw50{width:50%}
.pw60{width:60%}
.pw66{width:66.6%}
.pw70{width:70%}
.pw75{width:75%}
.pw80{width:80%}
.pw90{width:90%}
.pw100{width:100%}
/* line-height */
.lh14{line-height:.14rem}
.lh16{line-height:.16rem}
.lh18{line-height:.18rem}
.lh20{line-height:.20rem}
.lh22{line-height:.22rem}
.lh24{line-height:.24rem}
.lh30{line-height:.30rem}
/* margin */
.m5{margin:.05rem}
.m10{margin:.1rem}
.m15{margin:.15rem}
.m20{margin:.2rem}
.m30{margin:.3rem}
.ml1{margin-left:.01rem}
.ml2{margin-left:.02rem}
.ml5{margin-left:.05rem}
.ml10{margin-left:.10rem}
.ml15{margin-left:.15rem}
.ml20{margin-left:.20rem}
.ml30{margin-left:.30rem}
.mr1{margin-right:.01rem}
.mr2{margin-right:.02rem}
.mr5{margin-right:.05rem}
.mr10{margin-right:.10rem}
.mr15{margin-right:.15rem}
.mr20{margin-right:.20rem}
.mr30{margin-right:.30rem}
.mt1{margin-top:.01rem}
.mt2{margin-top:.02rem}
.mt5{margin-top:.05rem}
.mt10{margin-top:.10rem}
.mt15{margin-top:.15rem}
.mt20{margin-top:.20rem}
.mt30{margin-top:.30rem}
.mb1{margin-bottom:.01rem}
.mb2{margin-bottom:.02rem}
.mb5{margin-bottom:.05rem}
.mb10{margin-bottom:.10rem}
.mb15{margin-bottom:.15rem}
.mb20{margin-bottom:.20rem}
.mb30{margin-bottom:.30rem}
/* padding */
.p1{padding:.01rem}
.pl1{padding-left:.01rem}
.pt1{padding-top:.01rem}
.pr1{padding-right:.01rem}
.pb1{padding-bottom:.01rem}
.p2{padding:.02rem}
.pl2{padding-left:.02rem}
.pt2{padding-top:.02rem}
.pr2{padding-right:.02rem}
.pb2{padding-bottom:.02rem}
.pl5{padding-left:.05rem}
.p5{padding:.05rem}
.pt5{padding-top:.05rem}
.pr5{padding-right:.05rem}
.pb5{padding-bottom:.05rem}
.p10{padding:.10rem}
.pl10{padding-left:.10rem}
.pt10{padding-top:.10rem}
.pr10{padding-right:.10rem}
.pb10{padding-bottom:.10rem}
.p15{padding:.15rem}
.pl15{padding-left:.15rem}
.pt15{padding-top:.15rem}
.pr15{padding-right:.15rem}
.pb15{padding-bottom:.15rem}
.p20{padding:.20rem}
.pl20{padding-left:.20rem}
.pt20{padding-top:.20rem}
.pr20{padding-right:.20rem}
.pb20{padding-bottom:.20rem}
.p30{padding:.30rem}
.pl30{padding-left:.30rem}
.pt30{padding-top:.30rem}
.pr30{padding-right:.30rem}
.pb30{padding-bottom:.30rem}
/* border-color*/
.bde{border:.01rem solid #eee}
.ble{border-left:.01rem solid #eee}
.bre{border-right:.01rem solid #eee}
.bte{border-top:.01rem solid #eee}
.bbe{border-bottom:.01rem solid #eee}
/* border-radius */
.bra4{border-radius:.04rem}
.bra6{border-radius:.06rem}
.bra8{border-radius:.08rem}
.bra10{border-radius:.1rem}
.bra14{border-radius:.14rem}
.bra16{border-radius:.16rem}
.bra18{border-radius:.18rem}
/* background-color */
.bgff{background-color:#fff}
.bg40{background-color:#409EFF}
.bg67{background-color:#67C23A}
.bgE6{background-color:#E6A23C}
.bgF5{background-color:#F56C6C}
.bg90{background-color:#909399}
.bgf8{background-color:#f8f8f8}
/* safe color */
.col1{color:#409EFF}
.col2{color:#67C23A}
.col3{color:#E6A23C}
.col4{color:#F56C6C}
.col5{color:#909399}
.col6{color:#E64ADA}
.colf{color:#fff}
.colb{color:#303133}
/* font-size */
.f12{font-size:.12rem}
.f13{font-size:.13rem}
.f14{font-size:.14rem}
.f16{font-size:.16rem}
.f18{font-size:.18rem}
.f20{font-size:.20rem}
.f22{font-size:.22rem}
.f24{font-size:.24rem}
.f26{font-size:.26rem}
.f28{font-size:.28rem}
/* text-align */
.tac{text-align:center}
.tar{text-align:right}
/* vertical-align */
.vam{vertical-align:middle}
.vatb{vertical-align:text-bottom}
.vab{vertical-align:bottom}
/* display */
.disi{display:inline-block}
.disf{display:flex;align-items:baseline}
.fle1{flex:1}
.just{justify-content:space-between}
.jcsb{display:flex;justify-content:space-between;align-items:baseline}
.aisb{display:flex;flex-direction:column;justify-content:space-between}
/* float */
.fl{float:left}
.fr{float:right}
/* position */
.prel{position:relative}
.pabs{position:absolute}
/*z-index*/
.zi1{z-index:1}
.zi2{z-index:2}
/* cursor */
.cpoi{cursor:pointer}
/* overflow */
.ovfh{overflow:hidden}
/* visibility */
.vish{visibility:hidden}
.visv{visibility:visible}
/* opacity */
.opa0{opacity:0}

/* ------------------- multiply CSS ------------------ */
/* 块状元素水平居中 */
.auto{margin:0 auto}
/* 单行文字溢出虚点显示*/
.ell{text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
* { touch-action:pan-y}
input{
  outline-style: none ;
  width: .18rem;
  height: .18rem;
  font-size: .16rem;
}
